# Ignorar dependências
**/node_modules/

# Ignorar arquivos de build do front
**/dist/

# Ignorar variáveis de ambiente em qualquer subpasta
**.env
**.env.local
**.env.development
**.env.production

# Ignorar o banco de dados SQLite local de testes
**/worgle-backend/*.db
**/worgle-backend/*.sqlite

# Outros arquivos do sistema
.DS_Store